* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* flex container - HEADER */
#header {
    display: flex;
    margin: -10px;
    background-color: #1F2937;
}

#header h1 {
    flex: 1 1 1;
    color: #F9FAF8;
    width: fit-content;
    margin: 20px;
    margin-left: 100px;
    font-size: 24px;
}

#header .header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: 100px;
    color: white;
}

#header .header_links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#header .header_links a:hover {
    color: #9CA3AF;
}

/* flex container - BODY*/
#top_body {
    display: flex;
    background-color: #1F2937;
    gap: 25px;
    margin: -10px;
    height: 500px;

}

#top_body > .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

#top_body .landscape_image {
    /* flex: 1 1 1; */
    height: 60%;
    width: 80%;
    margin-left: auto;
    margin-right: 100px;
    padding-top: 50px;
}


.left_side .title {
    flex: 1 1 1;
    color: white;
    font-size: 35px;
    margin-left: 100px;
    width: 400px;
    height: fit-content;
}

.left_side .subtext {
    flex: 1 1 1;
    color: white;
    font-size: 14px;
    margin-left: 100px;
    width: auto;
    height: fit-content;
    margin-top: -10px;
}

.left_side button {
    flex: 1 1 1;
    width: 100px;
    margin-left: 100px;
    background-color: #3882F6;
    color: white;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.left_side button:hover {
    background-color: #2563EB;
    cursor: pointer;
}

.left_side button:active {
    background-color: #1D4ED8;
}

/* flex container */
#main_body{
    display: flex;
    flex-direction: column;
    margin: -10px;
    height: 500px;
    justify-content: center;
}

#main_body h1 {
    justify-content: center;
    text-align: center;
}

#main_body .images {
    display: flex;
    gap: 50px;
    justify-content: center;

}
#main_body img {
    height: 150px;
    width: 150px;
    border: 2px #3882F6 solid;
    border-radius: 10px;
}

#main_body .image_sub {
    display: flex;
    justify-content: center;
    height: 110px;
    gap: 60px;
}

#main_body .image_sub p {
    height: 150px;
    width: 150px;
    text-align: center;
}

/* flex container */
#quote {
    background-color: #E5E7EB;
    margin: -10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    
}

#quote .quote_text {
    flex: 1 1 1;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
    
}

#quote .author {
    flex: 1 1 1;
    text-align: right;
    margin-right: 150px;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    margin-top: -10px;
}

#sign_up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#sign_up .sign_up_banner{
    display: flex;
    background-color: #3882F6;
    width: 75%;
    align-content: center;
}

#sign_up .sign_up_banner .text {
    flex: 1 1 1;
    color: white;;
}

#sign_up .sign_up_banner .text h1 {
    font-size: 24px;
    padding-left: 100px;
    padding-top: 25px;
}

#sign_up .sign_up_banner .text p {
    font-size: 14px;
    padding-left: 100px;
    margin-top: -20px;
    margin-bottom: 40px;
}

#sign_up .sign_up_banner button {
    flex: 1 1 1;
    height: 40px;
    width: 150px;   
    margin-left: auto;
    margin-right: 100px;
    margin-top: 45px;
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    border: 2px #E5E7EB solid;
    border-radius: 10px;
}
#sign_up .sign_up_banner button:hover {
    background-color: #2563EB;
    cursor: pointer;
}

#sign_up .sign_up_banner button:active {
    background-color: #1D4ED8;
}

/* flex container - FOOTER*/
#footer {
    display: flex;
    background-color: #1F2937;
    margin: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

#footer p {
    color: white;
    font-size: 15px;
}


