* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    margin: -10px;
    background-color: #1F2937;
    /* color: white; */
}

#header h1 {
    flex: 1 1 1;
    color: white;
    /* border: 4px solid white; */
    width: fit-content;
    margin: 20px;
    margin-left: 100px;
    font-size: 24px;
}

#header .header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: 100px;
    color: white;
}

#header .header_links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#header .header_links a:hover {
    color: #9CA3AF;
}

#top_body {
    display: flex;
    background-color: #1F2937;
    gap: 25px;
    margin: -10px;
    padding-bottom: 100px;
    padding-top: 50px;
    
    
}

#top_body > .left_side {
    display: flex;
    flex-direction: column;
}

#top_body .landscape_image {
    /* flex: 1 1 1; */
    height: 200px;
    width: 450px;
    margin-left: auto;
    margin-right: 100px;
}


.left_side .title {
    flex: 1 1 1;
    color: white;
    font-size: 35px;
    margin-left: 100px;
    width: 250px;
    height: fit-content;
}

.left_side .subtext {
    flex: 1 1 1;
    color: white;
    font-size: 14px;
    margin-left: 100px;
    width: 350px;
    height: fit-content;
    margin-top: -10px;
    /* margin-bottom: 20px; */
}

.left_side button {
    flex: 1 1 1;
    width: 100px;
    margin-left: 100px;
    background-color: #3882F6;
    color: white;
    height: 30px;
}

#main_body{
    display: flex;
    flex-direction: column;
    /* border: 4px solid black; */
    margin: -10px;
    padding: 10px;
}

#main_body h1 {
    justify-content: center;
    text-align: center;
    /* gap: 50px; */
}

#main_body .images {
    display: flex;
    /* border: 4px solid red; */
    gap: 50px;
    justify-content: center;

}
#main_body img {
    height: 150px;
    width: 150px;
    border: 5px #3882F6 solid;
}

#main_body .image_sub {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 5px #3882F6 solid;
}

