* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    margin: -10px;
    background-color: #1F2937;
    /* color: white; */
}

#header h1 {
    flex: 1 1 1;
    color: white;
    /* border: 4px solid white; */
    width: fit-content;
    margin: 20px;
    margin-left: 100px;
    font-size: 24px;
}

#header .header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: 100px;
    color: white;
}

#header .header_links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#header .header_links a:hover {
    color: #9CA3AF;
}

#top_body {
    display: flex;
    background-color: #1F2937;
    margin: -10px
}